*{margin: 0;padding: 0;}
body{background: #fff;}

#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#beranda {
    top: 20px;
    background-color: #4CAF50;
}

#honda {
    top: 200px;
    background-color: #f44336;
}

#yamaha {
    top: 80px;
    background-color: #2196F3;
}

#suzuki {
    top: 140px;
    background-color: #555
}

.container{
	width: 100%;
	margin: auto;
}

.hitam{
	height: 800px;
	background:url("covercbr150r.jpg") fixed;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1350px 650px;
}
.satu{
	background:url("cbr150rputih.jpg")fixed;
	height: 700px;
	width: 100%;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.dua{
	height: 500px;
	background: #fff;
}
h1{
	text-align: center;
	font-family: arial;
	font-size: 100px;
	color: #000;
	line-height: 200px;
	text-transform: uppercase;
}

h2{
	text-align: justify;
	font-family: arial;
	font-size: 20px;
	color: #000;
	line-height: 30px;
	text-transform: lowercase;
}
.col{
	text-align: center;
	font-family: arial;
	font-size: 80px;
	color: #ff0000;
	line-height: 1000px;
	text-transform: uppercase;
}
.tiga{
	background:url("cbr150rbalap.jpg")fixed;
	height: 700px;
	width: 100%;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.empat{
	height: 500px;
	background: #fff;
}
.lima{
	background:url("cbr150rmerah.jpg")fixed;
	height: 500px;
	width: 100%;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}	
.enam{
	height: 500px;
	background: #fff;
}
.tujuh{
	background:url("cbr150rhitam.png")fixed;
	height: 500px;
	width: 100%;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1100px 900px;
}
.delapan{
	height: 800px;
	background: #fff;
}
.sembilan{
	background:url("5.jpg")fixed;
	height: 500px;
	width: 100%;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.sepuluh{
	height: 1000px;
	background: #fff;
	}
.parallax {
	background-attachment:
	scroll;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}


#myImg:hover {opacity: 0.7;}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }